﻿@{
    ViewBag.Title = "Home Page";
}


@using DataGenerator.Utils
@model DataVisualizator.Models.TemperatureViewModel


<h2>My Awesome generator</h2>
</ br>

<div class="row">
    @Html.ActionLink("Get all entries", "GetAll", "", new {@class = "btn btn-default"})
</div>

<div class="row">
    @Html.ActionLink("Get range", "GetRange", "", new {@class = "btn btn-default"})
</div>

<div class="row">
    <div class="well">Response: @Model.Response</div>
</div>

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert"><i class="glyphicon glyphicon-remove"></i></button>
        @Html.ValidationSummary(false, "E-eee! ")
    </div>
}

<div class="col-md-2">
    @using (Html.BeginForm("Generate", "Home", FormMethod.Post, new { @class = "" }))
    {
        <div class="">
            <div class="form-group">
                @Html.RadioButtonFor(m => m.FuncType, FuncType.Sin)
                @Html.Label(FuncType.Sin.ToString())
                @Html.RadioButtonFor(m => m.FuncType, FuncType.Random)
                @Html.Label(FuncType.Random.ToString())
                @*                @Html.RadioButtonFor(m => m.FuncType, FuncType.Crazy)*@
                @*                @Html.Label(FuncType.Crazy.ToString())*@
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.StepInSeconds)
                @Html.TextBoxFor(m => m.StepInSeconds, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.StepInSeconds, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.MinTemperature)
                @Html.TextBoxFor(m => m.MinTemperature, new { @class = "form-control" }) °C
                @Html.ValidationMessageFor(m => m.MinTemperature, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.MaxTemperature)
                @Html.TextBoxFor(m => m.MaxTemperature, new { @class = "form-control" }) °C
                @Html.ValidationMessageFor(m => m.MaxTemperature, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.StartTime)
                @Html.TextBoxFor(m => m.StartTime, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.StartTime, "", new { @class = "text-danger" })

            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.EndTime)
                @Html.TextBoxFor(m => m.EndTime, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.EndTime, "", new { @class = "text-danger" })
            </div>

        </div>
        <input type="submit" value="Generate and send!" class="btn btn-default" />
    }
</div>


<div class="col-md-12">
    @(Model.Chart)
</div>

<div class="col-md-12">
    @(Model.ChartFiltered)
</div>



